@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
  margin: 0;
}

:root {
  box-sizing: border-box;
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 37%);
}

body {
  margin: 0;
  background-color: var(--cream);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-container {
  display: flex;
  max-width: 600px;  
  max-height: 450px;
  background-color: hsl(0, 0%, 100%);
  margin: 2rem;
  border-radius: 1rem;
  overflow: hidden;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
  padding: 2rem;
}

.item-category {
  text-transform: uppercase;  
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  letter-spacing: .5rem;
}

.grey-text {
  color: hsl(231, 6%, 56%);
}

.price-container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1rem 0;
}

.price-actual {
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  color:hsl(158, 36%, 37%);
}

.price {
  color: hsl(231, 6%, 56%);
  text-decoration: line-through;
}

button {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  background-color: hsl(158, 36%, 37%);
  font-family: 'Montserrat', sans-serif;
  color: hsl(0, 0%, 100%);
  padding: 1rem 3rem; 
  border-radius: 1rem;
  border: none;
}

button:hover {
  background-color: var(--dark-blue);
}

h1 {
  font-family: 'Fraunces', serif;
}

p {
  font-size: .8rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2rem;
}

.image-container{
  overflow: hidden;
}

img {
  max-height: 100%;
}

.attribution {
  margin: 2rem;
}

@media only screen and (max-width: 600px) {

  .card-container {
    display: flex;
    flex-direction: column;
    margin: 5%;
    max-height: 75%;
  }

  .info-container {
    gap: .8rem;
  }
  
}